<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Blog Zone</title>
		<link rel="stylesheet" th:href="@{/style/error.css}" />
		<link rel="icon" type="image/png" th:href="@{/img/logo4.png}" />
	</head>
	<body>
		<nav>
			<div class="logo-name-div">
				<img th:src="@{/img/logo1.png}" height="32" width="30" />
				<h1>BlogZone</h1>
			</div>
		</nav>
        <div class="error-container">
        <div class="error-div">
            <h2>405</h2>
            <h4>Method Not Allowed</h4>
            <p>Oops! Looks like you're using the wrong method. Try a
                different request.</p>
            <a class="btn">Go Back</a>
        </div>
    </div>
    </div>
    <script>
            document.querySelector(".btn").addEventListener("click", function () {
			    history.back();
			});
    </script>
	</body>
</html>
